.plan-selection-links
{
	>ul{
		list-style: none;
		margin:0;
		padding:0;
		display: flex;
		justify-content: space-between;
		> li {
			> a{
				font-size: calculateRem(16px, $font-size-html);
				color: $secondary;

				&:hover,&.active{
					color: $primary;
					text-decoration: none;
				}
			}
		}
	}
}


.plan-selection-illustrations
{
	text-align: center;
}