.plan-selection-links
{
	>ul{
		list-style: none;
		margin:0;
		padding:0;
		display: flex;
		> li {
			flex:1;
			text-align: center;
			> a{
				display: block;
				font-size: calculateRem(16px, $font-size-html);
				color: $secondary;
				svg path
				{
					fill: $secondary;
				}
				&,svg path
				{
					transition: ease 0.3s;
				}
				&:hover,&.active{
					svg path
					{
						fill: $primary;
					}
					color: $primary;
					text-decoration: none;
				}
			}
		}
	}
}




.circle-illustrations-holder
{
 max-width: 850px;
 margin: 0 auto;
 position: relative;
 > svg{
 	width: 100%;
 	height: 100%;
 }

 .illustrations{
 	position: absolute;
 	left: 25%;
 	top: 15%;
 	width: 50%;
    height: 70%;

 	display: flex;
 	align-items:center;
 	justify-content: center;
 }

}

// Circle nav
#circle-nav{
	#circle-nav-rail circle
	{
		fill: none;
		stroke: darken($secondary-light, 10%);
	}

	#circle-nav-dots
	{
		fill: none;
		> circle{
			cursor: pointer;
			stroke: $green-dark;
			fill: transparent;
			transition: fill ease 0.2s;
			&:hover,&.active{
				fill: $green-dark;
			}
		}
	}
	
}

.illustration
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.selection-link
{
	>a> *{
		display: block;
	}

	svg {
		width: 100%;
		height: 100%;
	}

	.icon-holder{
		width: 80px;
		height: 75px;
		margin: auto;
		> svg{
			max-width: 30px;
		}
		+ strong{
			padding-top:18px;
		}
	}
}


.plan-selection-slider-wrapper
{
	position: relative;
	.slider-wrapper
	{
		position: absolute;
		width: 100%;
		top: 75px;
		left: 0;
	}
}

.plan-selection-tabs{
	> div:not(.active)
	{
		display: none;
	}
	&__underline{
		a:hover{
			text-decoration: none; 
		}
	}
}