.tab-wrapper
{
	display: flex;
	> *{
		flex: 1;
	}

	.tab-links
	{
		max-width: 250px;
	}
}

.tab-links {
  transition: all 0.5s ease;
	border-right: 5px solid fade-out($secondary, 0.9);
	> ul{
		margin: 0;
	}
}

.tab-link {
  opacity: 0.6;

  &.active {
    opacity: 1;

    > a {
      color: #1862a1;
      font-weight: 700;
    }
  }

  >a {
    display: block;
    width: 100%;
    color: $headings-color;
    font-size: calculateRem(16px, $font-size-html);
    padding: 5px 30px;
    line-height: 1.3;
    // font-weight: 700;
  }

  + .tab-link{
  	margin-top: 20px;
  }
}

.tab-contents
{
	> div:not(.active){
		display: none;
	}
}

.gift-box {
  box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 50px 20px 30px 20px;
  // display: flex;
  text-align: center;

  &__img {
    height: 40px;
    width: auto;
    // padding-top: 30px;
    margin: 0 0 20px 0;
  }

  &__title {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 10px;
  }
}

.tab-wrapper.sub-tabs{
  .tab-links{
    border: none;
    max-width: 300px;
    flex-basis:300px;

  }
  
  .tab-link{
    > a{
      font-size: calculateRem(14px, $font-size-html)
    
    }
    + .tab-link{
      margin-top: 8px;
    }
  }
  .tab-link-title
  {
    font-size: calculateRem(18px, $font-size-html)
  }
}

.custom-tab {
  &-inner {
    display: none;

    &.active {
      display: block;
    }
  }

  &-link {
    color: #333333;
    &.active {
      color: $theme-primary;
    }
  }
}