@font-face {
    font-family: 'Avenir Next';
    src: url('#{$font-path}/AvenirNext-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}/AvenirNext-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('#{$font-path}/AvenirNext-Regular.woff2') format('woff2'),
        url('#{$font-path}/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('#{$font-path}/AvenirNext-Medium.woff2') format('woff2'),
        url('#{$font-path}/AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('#{$font-path}/AvenirNext-Bold.woff2') format('woff2'),
        url('#{$font-path}/AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('#{$font-path}/AvenirNext-Italic.woff2') format('woff2'),
        url('#{$font-path}/AvenirNext-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}



html{
	font-size: $font-size-html;
}

// $h1-font-size:                (60px / $font-size-html) * 1rem;
// $h2-font-size:                (45px / $font-size-html) * 1rem;
// $h3-font-size:                (35px / $font-size-html) * 1rem;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                (16px / $font-size-html) * 1rem;
// $h6-font-size:                $font-size-base !default;

@include bd-md-bl{
    h1{
        font-size:  (30px / $font-size-html) * 1rem;
    }
    h2{
        font-size: (25px / $font-size-html) * 1rem;
    }
    h3{
        font-size: (22px / $font-size-html) * 1rem;
    }

    h4{
        font-size: (18px / $font-size-html) * 1rem;
    }

    h5{
        font-size: (14px / $font-size-html) * 1rem;
    }
}