<div class="row">
  <!-- Calculate-info-->
  <div class="col-lg-8 pr-3 pr-md-4">
    <!-- heading info-->
    <h1 class="tab-content-heading">The Simple Planning Tool</h1>
    <!-- calculate details-info-->

    <div class="row mx-0">
      <div class="col-md-4">
        <label for="">Child's Age</label>
        <select class="ui search dropdown">
          <option value="">Attend a year private school</option>
          <option value="AL">Attend a 2 year private school</option>
          <option value="AK">Attend a 3 year private school</option>
          <option value="CO">Attend a 4 year private school</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="">Household Income</label>
        <input type="text" valu="$100,000">
      </div>
      <div class="col-md-4">
        <label for="">Monthly Contribution</label>
        <input type="text" valu="$100,000">
      </div>
      <div class="col-md-6">
        <label for="">Type of schoold</label>
        <select class="ui search dropdown">
          <option value="">4 year private schoold</option>
          <option value="">Attend a year private school</option>
          <option value="">Attend a year private school</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="">Monthly Contribution</label>
        <select class="ui search dropdown">
          <option value="">Attend a year private school</option>
          <option value="">Attend a year private school</option>
          <option value="">Attend a year private school</option>
        </select>
      </div>
    </div>
    <div>
      <button class="next btn btn-outline-primary" type="button">Next</button>
    </div>
  </div>
  <!-- clients testimonials-->
  <div class="col-lg-4 testimonials-info">
    <span class="d-block mb-3 mb-md-4">We have helped over 1,000,000 parents like you pay for their kids education!</span>
    <blockquote>
      <img class="d-block mb-2" src="../assets/plans/quote.png" alt="quotes icon">
      <p class="quotes-text my-2 fnt-lg">
        <i>I started saving as soon as I found out I was pregnant with Tom. Everything felt really uncertain back then, but
          it was important for me to start somewhere...</i>
      </p>
      <span class="author fnt-md fnt-bold d-block text-right">- Metilda J Tom</span>
    </blockquote>
  </div>
</div>
