<div class="accordian-wrapper">
	<div class="accordian-trigger pl-5 bg-secondary-light">
		<span class="number mr-3">
			<strong>01</strong>
		</span>
		How much do I need in order to open a 529 account?
	</div>
	<div class="accordian-panel pl-5">
		<p class="py-2">
			Lorem ipsum qui amet dolor culpa elit ex consequat irure esse nisi dolor officia sed velit reprehenderit labore ullamco excepteur. In excepteur adipisicing irure qui fugiat adipisicing ad laborum et fugiat nostrud proident ullamco reprehenderit cupidatat officia voluptate.
		</p>
		<div class="pb-4 mt-2 text-left">
			<a class="mt-2" href="javascript:void(0);">
				<strong>Learn more</strong>
			</a>
		</div>
	</div>

	<div class="accordian-trigger pl-5 bg-secondary-light">
		<span class="number mr-3">
			<strong>02</strong>
		</span>
		Which state has the best plan?
	</div>
	<div class="accordian-panel pl-5">
		<p class="py-2">
			Lorem ipsum qui amet dolor culpa elit ex consequat irure esse nisi dolor officia sed velit reprehenderit labore ullamco excepteur. In excepteur adipisicing irure qui fugiat adipisicing ad laborum et fugiat nostrud proident ullamco reprehenderit cupidatat officia voluptate.
		</p>
		<div class="pb-4 mt-2 text-left">
			<a class="mt-2" href="javascript:void(0);">
				<strong>Learn more</strong>
			</a>
		</div>
	</div>

	<div class="accordian-trigger pl-5 bg-secondary-light">
		<span class="number mr-3">
			<strong>03</strong>
		</span>
		What if my child doesn't end up going to college?
	</div>
	<div class="accordian-panel pl-5">
		<p class="py-2">
			Lorem ipsum qui amet dolor culpa elit ex consequat irure esse nisi dolor officia sed velit reprehenderit labore ullamco excepteur. In excepteur adipisicing irure qui fugiat adipisicing ad laborum et fugiat nostrud proident ullamco reprehenderit cupidatat officia voluptate.
		</p>
		<div class="pb-4 mt-2 text-left">
			<a class="mt-2" href="javascript:void(0);">
				<strong>Learn more</strong>
			</a>
		</div>
	</div>

</div>
