<div class="accordian-wrapper">
	<div class="accordian-trigger pl-5 bg-secondary-light active">
		<span class="number mr-3">
			<strong>01</strong>
		</span>
		How much do i need inorder to open a 529 account
	</div>
	<div class="accordian-panel pl-5 active">
		<p class="py-2">
			Lorem ipsum qui amet dolor culpa elit ex consequat irure esse nisi dolor officia sed velit reprehenderit labore ullamco excepteur. In excepteur adipisicing irure qui fugiat adipisicing ad laborum et fugiat nostrud proident ullamco reprehenderit cupidatat officia voluptate.
		</p>
	</div>

	<div class="accordian-trigger pl-5 bg-secondary-light">
		<span class="number mr-3">
			<strong>02</strong>
		</span>
		Which state has best plan?
	</div>
	<div class="accordian-panel pl-5">
		<p class="py-2">
			Lorem ipsum qui amet dolor culpa elit ex consequat irure esse nisi dolor officia sed velit reprehenderit labore ullamco excepteur. In excepteur adipisicing irure qui fugiat adipisicing ad laborum et fugiat nostrud proident ullamco reprehenderit cupidatat officia voluptate.
		</p>
	</div>

	<div class="accordian-trigger pl-5 bg-secondary-light">
		<span class="number mr-3">
			<strong>03</strong>
		</span>
		What if my child doesn't end up going to college?
	</div>
	<div class="accordian-panel pl-5">
		<p class="py-2">
			Lorem ipsum qui amet dolor culpa elit ex consequat irure esse nisi dolor officia sed velit reprehenderit labore ullamco excepteur. In excepteur adipisicing irure qui fugiat adipisicing ad laborum et fugiat nostrud proident ullamco reprehenderit cupidatat officia voluptate.
		</p>
	</div>

</div>