<section>
	<div class="container">
		<article class="article-banner pt-5 pb-3">
			<!-- <figure class="figure">
				<img src="../assets/banner-1.jpg" class="img-fluid" alt="">
			</figure> -->

			<div class="content text-left">
					<h2>Education funding, <br>made simple</h2>
					<p>As one of the leading education savings plans in the country, <br>we have helped more than 1 million families give the gift of Education.</p>
					<!-- <a href="" class="btn btn-outline-primary mt-1">
						<strong>KNOW MORE</strong>
					</a> -->
			</div>
		</article>
	</div>
</section>
