<section>
	<div class="container">
		<article class="article-banner pt-5 pb-3">
			<!-- <figure class="figure">
				<img src="../assets/banner-1.jpg" class="img-fluid" alt="">
			</figure> -->

			<div class="content text-left">
					<h2>Create your own <br> savings plan today</h2>
					<p>A goal without a plan is just a wish. Set a realistic goal and <br>create your own personalized savings strategy according to where you are at in life.</p>
					<!-- <a href="" class="btn btn-outline-primary mt-1">
						<strong>KNOW MORE</strong>
					</a> -->
			</div>
		</article>
	</div>
</section>
