<!-- Footer Blue Background -->
<footer id="main-footer" class="main-footer bg-blue">
    <div class="container py-4">
        <div class="py-4 pb-md-4">
            <h5 class="text-center footer-heading text-white text-uppercase">Still have questions? Talk to someone</h5>
        </div>
        <ul class="d-block flex-wrap d-sm-flex justify-content-sm-around pb-3 footer-element" type="none">
            <li>
                <a class="share-link mb-2 mb-md-0 mr-md-2 text-white" href="">
                    <img class="icon-share-link img-fluid mb-2 mb-md-0 mr-md-2" src="../assets/footer/chat-footer-2.png" alt=""> Chat with an expert
                </a>
            </li>
            <li>
                <a class="share-link mb-2 mb-md-0 mr-md-2 text-white" href="">
                    <img class="icon-share-link img-fluid mb-2 mb-md-0 mr-md-2" src="../assets/footer/schedule-footer-2.png" alt=""> Schedule a callback
                </a>
            </li>
            <li>
                <a class="share-link mb-2 mb-md-0 mr-md-2 text-white" href="">
                    <img class="icon-share-link img-fluid mb-2 mb-md-0 mr-md-2" src="../assets/footer/advisor-footer-2.png" alt=""> Find an advisor
                </a>
            </li>
        </ul>
    </div>
</footer>