<section class="bg-secondary-light">
    <div class="container grow-selection">
        <div class="carousel-slides p-3">
            <div class="card mb-3">
                <img src="../assets/slider/11.jpg" class="img-fluid card-img-top" alt="">
                <div class="card-body mt-5">
                    <!-- <h4 class="my-4">Meet parents like you</h4> -->
                    <p class="card-text my-4 font-italic">“I started saving as soon as I found out I was pregnant. It was important or me to start somewhere, as I didn't want her to go through the burden of student debt that I had experienced.”</p>
                    <div class="read-more">
                        <p class="card-text font-italic">I started saving as soon as I found out I was pregnant. It was important or me to start somewhere, as I didn't want her to go through the burden of student debt that I had experienced.</p>
                        <p class="card-text font-italic">I started saving as soon as I found out I was pregnant. It was important or me to start somewhere, as I didn't want her to go through the burden of student debt that I had experienced.</p>
                    </div>
                    <a class="btn btn-outline-primary font-weight-bold view-more read-more-link mt-3" href="javascript:void(0)">read more</a>
                </div>
            </div>
            <div class="card mb-3">
                <img src="../assets/slider/12.jpg" class="img-fluid card-img-top" alt="">
                <div class="card-body mt-5">
                    <!-- <h4 class="my-4">Meet parents like you</h4> -->
                    <p class="card-text my-4 font-italic">“I started saving as soon as I found out I was pregnant. It was important or me to start somewhere, as
                        I didn't want her to go through the burden of student debt that I had experienced.”</p>
                    <a href="" class="btn btn-outline-primary font-weight-bold"> Read more</a>
                </div>
            </div>
            <div class="card mb-3">
                <img src="../assets/slider/13.jpg" class="img-fluid card-img-top" alt="">
                <div class="card-body mt-5">
                    <!-- <h4 class="my-4">Meet parents like you</h4> -->
                    <p class="card-text my-4 font-italic">“I started saving as soon as I found out I was pregnant. It was important or me to start somewhere, as
                        I didn't want her to go through the burden of student debt that I had experienced.”</p>
                    <a href="" class="btn btn-outline-primary font-weight-bold"> Read more</a>
                </div>
            </div>
            <div class="card mb-3">
                <img src="../assets/slider/14.jpg" class="img-fluid card-img-top" alt="">
                <div class="card-body mt-5">
                    <!-- <h4 class="my-4">Meet parents like you</h4> -->
                    <p class="card-text my-4 font-italic">“I started saving as soon as I found out I was pregnant. It was important or me to start somewhere, as
                        I didn't want her to go through the burden of student debt that I had experienced.”</p>
                    <a href="" class="btn btn-outline-primary font-weight-bold"> Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>