<header id="main-header" class="overlay-header bg-light">
	<div class="container py-4">
		<div class="row align-items-center">
			<div class="logo-holder">
				<a href="index.html">
					<img src="../assets/logo.png" class="img-fluid" alt="">
				</a>
			</div>

			<div class="menu-holder col">
          <nav id="main-navigation">
            <ul class="nav-list list-unstyled mb-0">
              <li><a href="learn.html" class="active"><strong>LEARN</strong></a></li>
              <li><a href="plan.html"><strong>PLAN</strong></a></li>
              <li><a href="grow.html"><strong>GROW</strong></a></li>
            </ul>
          </nav>
			</div>

			<div class="side-cta-holder d-flex align-items-center">
				<div class="link-group">
					<a href="">
						<strong>LOGIN</strong>
					</a>
					/
					<a href="">
						<strong>SIGNUP</strong>
					</a>
				</div>

				<a href="" class="btn btn-outline-primary ml-3">
					OPEN A 529
				</a>
			</div>
		</div>
	</div>
</header>
