<div id="imageModal">
  <!-- <a href="" class="close-popup"><img src="../assets/close.png" alt="Close"></a> -->
  <div class="popup-block">
    <div class="popup-body">
      <!--<h4 class="text-left popup-block__title">What's holding you back?</h4>
      <p class="my-3 text-left fnt-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quisquam eum accusamus asperiores ab adipisci architecto, facere.</p>
      <span class="d-block mt-2 mb-1">Why did you stop planning?</span>
      <input type="text" class="popup-block__input" value="The total cost is too high">
      <div class="row  mt-4">
        <div class="col-md-4">
          <img src="../assets/testimonial/2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-8">
          <h5>Just start somewhere!</h5>
          <p>Contributing $50 can help with two semesters of your child's education</p>
          <a href="" class="btn-gray mt-1">start somewhere</a>
        </div>
      </div>
    </div>
    <div class="navigate-block py-3 px-4">
        <a href="" class="text-uppercase link-cta close-popup">Exit</a>
        <a href="" class="text-uppercase link-cta close-popup">Return to planning</a>
    </div>-->

      <img src="../assets/image-popup.png" alt="">
    </div>
  </div>
</div>
<div id="image-overlay" class="modal-overlay"></div>