<div id="exampleModalLong">
  <!-- <a href="" class="close-popup"><img src="../assets/close.png" alt="Close"></a> -->
  <div class="popup-block">
    <div class="popup-body">
      <h4 class="text-center popup-block__title">What's holding you back?</h4>
      <p class="mt-3 text-center fnt-lg">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quisquam eum accusamus asperiores ab adipisci architecto, facere.</p>
      <span class="d-block mt-2 mb-3">why did you stop planning?</span>
      <h5 class="ml-2">The total cost is too high</h5>
    </div>
    <div class="navigate-block py-3 px-4">
        <a href="" class="text-uppercase link-cta close-popup">Exit</a>
        <a href="" class="text-uppercase link-cta close-popup">Return to planning</a>
    </div>
  </div>
</div>
<div id="modal-overlay"></div>