<nav class="plan-selection-links">
  <ul>
    <li><a href="#" class="slide-nav" data-slide="plan-1"><strong>Expecting a newborn</strong></a></li>
    <li><a href="#" class="slide-nav" data-slide="plan-2"><strong>A New Parent</strong></a></li>
    <li><a href="#" class="slide-nav" data-slide="plan-3"><strong>Starting College</strong></a></li>
    <li><a href="#" class="slide-nav" data-slide="plan-4"><strong>Finishing College</strong></a></li>
    <li><a href="#" class="slide-nav" data-slide="plan-5"><strong>A Grandparent</strong></a></li>
  </ul>
</nav>
