<div class="row">
  <!-- Calculate-info-->
  <div class="col-lg-8 pr-3 pr-md-4">
    <!-- heading info-->
    <h1 class="tab-content-heading">Tell us about your dreams as a parent</h1>
    <!-- calculate details-info-->
    <h6 class="claculator-custom">
      My
      <div class="form-check form-check-inline mx-2">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Son">
        <label class="form-check-label" for="inlineRadio1">Son</label>
      </div>
      <div class="form-check-inline ml-1">
        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Daughter">
        <label class="form-check-label" for="inlineRadio2">Daughter</label>
      </div>
      <br> is
      <select class="ui search dropdown">
        <option value="">00</option>
        <option value="AL">01</option>
        <option value="AK">02</option>
        <option value="CO">03</option>
      </select>
      years old and has
      <select class="ui search dropdown">
        <option value="">00</option>
        <option value="AL">01</option>
        <option value="AK">02</option>
        <option value="CO">03</option>
      </select>
      Silblings.
    </h6>
    <h6 class="claculator-custom claculator-custom--lg-dp mt-2 mt-md-3 border-bottom-0">
      When I think about my son’s education, I would like to give him the opportunity to
      <select class="ui search dropdown">
        <option value="">Attend a year private school</option>
        <option value="AL">Attend a 2 year private school</option>
        <option value="AK">Attend a 3 year private school</option>
        <option value="CO">Attend a 4 year private school</option>
      </select>
      <br> like
      <select class="ui search dropdown">
        <option value="">Stanford University</option>
        <option value="Stanford">Stanford University</option>
        <option value="Harvard">Stanford University</option>
      </select>
    </h6>
    <div>
      <button class="next btn btn-outline-primary" type="button">Next</button>
    </div>
  </div>
  <!-- clients testimonials-->
  <div class="col-lg-4 testimonials-info">
    <span class="d-block mb-3 mb-md-4">We have helped over 1,000,000 parents like you pay for their kids education!</span>
    <blockquote>
      <img class="d-block mb-2" src="../assets/plans/quote.png" alt="quotes icon">
      <p class="quotes-text my-2 fnt-lg">
        <i>I started saving as soon as I found out I was pregnant with Tom. Everything felt really uncertain back then, but
          it was important for me to start somewhere...</i>
      </p>
      <span class="author fnt-md fnt-bold d-block text-right">- Metilda J Tom</span>
    </blockquote>
  </div>
</div>
