<div class="row">
  <!-- Calculate-info-->
  <div class="col-lg-8 pr-3 pr-md-4">
    <!-- heading info-->
    <h1 class="tab-content-heading mb-2">Let us help you break down the big number</h1>
    <p class="fnt-md">Based on the information you have input, this is an estimate
      of your funding goal</p>
    <!-- calculate details-info tabs-->
    <div class="plan-selection-tabs plan-selection-tabs__underline pt-3">
      <p class="fnt-md fnt-bold">I want to cover his education</p>
      <div class="tab-wrapper flex-column  active" id="plan-1">
        <div class="border-0">
          <ul class="d-flex list-unstyled tabs-list-info">
            <li class="tab-link active">
              <a href="#tab-1">
                <strong>Fully</strong>
              </a>
            </li>
            <li class="tab-link mt-0">
              <a href="#tab-2">
                <strong>Partially</strong>
              </a>
            </li>
          </ul>
        </div>
        <!-- tab-content --> 
        <div class="tab-contents mb-4 mb-md-5">
          <div id="tab-1" class="active tab-border px-1 py-3 text-center">
            <div class="d-flex">
            <!--left-wrapper-->
            <div class="col-md-6">
              <div class="tab-border__content">
                <span class="fnt-xlg theme-primary">$390,000</span>
                <p class="m-0">100% of ideal savings</p>
              </div>
            </div>
            <!--Right-wrapper-->
            <div class="col-md-6">
              <div class="tab-border__content">
                  <span class="fnt-xlg clr-gray">$1,000/month</span>
                  <p class="m-0">Monthly contribution</p>
                </div>
            </div>
            </div>
          </div>
          <!-- partially-->
          <div id="tab-2">
            <h6 class="claculator-custom claculator-custom--lg-dp pb-3 border-0">
                By covering <select class="ui search dropdown">
                    <option value="">30%</option>
                    <option value="AL">40%</option>
                    <option value="AK">50%</option>
                    <option value="CO">60%</option>
                  </select>
                  of the total costs of their education.
            </h6>
            <div class="d-flex tab-border px-1 py-3 text-center">
            <!--left-wrapper-->
            <div class="col-md-6">
                <div class="tab-border__content">
                  <span class="fnt-xlg theme-primary">$1,95,000</span>
                  <p class="m-0">100% of ideal savings</p>
                </div>
              </div>
              <!--Right-wrapper-->
              <div class="col-md-6">
                <div class="tab-border__content">
                    <span class="fnt-xlg clr-gray">$500/month</span>
                    <p class="m-0">Monthly contribution</p>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
  </div>
  <div class="back-next-container">
      <button class="previous btn btn-outline-primary" type="button">Back</button>
      <button class="next btn btn-outline-primary" type="button">Next</button>
    </div>
  </div>
  <!-- clients testimonials-->
 <div class="col-lg-4 testimonials-info testimonials-info--slider">
    ${require('html-loader?interpolate!../components/right-slider.html')}
  </div>
</div>
