<!-- inner steps -->
<div class="inner-step">
  <!-- heading info-->
  <h1 class="tab-content-heading">Select a savings vehicle</h1>
  <!-- calculate details-info-->
  ${require('html-loader?interpolate!./table-selectable.html')}

  <!-- Back next button -->
  <div class="back-next-container">
    <button class="previous btn btn-outline-primary" type="button">Back</button>
    <button class="inner-next btn btn-outline-primary" type="button">Next</button>
  </div>
</div>
<!-- end of inner step -->