<!-- inner steps -->
<div class="inner-step">
    <!-- heading info-->
    <h1 class="tab-content-heading">Choose your investment approach</h1>
    <div class="row text-center pt-2 pb-5 radio-check-fileds">
        <div class="col-md-4 card-info">
            <div class="card-info__view justify-content-center py-4">
                <div class="form-check form-check-inline mx-2">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Son">
                    <label class="form-check-label" for="inlineRadio1"></label>
                </div>
                <h4 class="mb-3">American Funds Porfolio Series®</h4>
                <p>A ‘fund of funds’ designed to pursue a common investor objective such as preservation,oncome or growth.</p>
            </div>
        </div>
        <div class="col-md-4 card-info">
            <div class="card-info__view justify-content-center py-4">
                <div class="form-check form-check-inline mx-2">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Son">
                    <label class="form-check-label" for="inlineRadio2"></label>
                </div>
                <h4 class="mb-3">American Funds College Target Date Series®</h4>
                <p>Choose a target date and let your portfolio automatically grow more preservation-oriented as college approaches</p>
            </div>
        </div>
        <div class="col-md-4 card-info">
            <div class="card-info__view justify-content-center py-4">
                <div class="form-check form-check-inline mx-2">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Son">
                    <label class="form-check-label" for="inlineRadio3"></label>
                </div>
                <h4 class="mb-3">Individual Mutual Funds</h4>
                <p>A combination of the available American Funds for those seeking a customized an diversified portfolio.</p>
            </div>
        </div>
    </div>
    <!-- calculate details-info-->
    <!-- Back next button -->
    <div class="back-next-container">
        <button class="inner-previous btn btn-outline-primary" type="button">Back</button>

        <div class="float-right">
            <button class="btn btn-outline-primary mr-2" type="submit">Compare</button>
            <button class="btn btn-outline-primary" type="submit">Next</button>
        </div>
    </div>
</div>
<!-- end of inner step -->