<section>
	<div class="container py-5">
		<div>
      ${require('html-loader?interpolate!./planselectionlinkslider.html')}

    <!-- main-content start-->
    <div class="main-content-wrapper">
      <!-- heading info-->
      <div class="row">
        <div class="col-md-12 text-right">

        </div>
      </div>
      <!-- cards info-->
      <div class="row">
        <div class="col-md-4 card-info">
          1
        </div>
        <!-- card2-->
        <div class="col-md-8 card-info">
          2
        </div>

        </div>

      </div>
      <!-- cards info end-->

    </div>

		</div>
	</div>
</section>
