<div class="plan-selection-slider-wrapper">
  <div class="slider-wrapper">
    <div class="rail">
      <div class="station active">
        <div class="slider"></div>
      </div>
      <div class="station"></div>
      <div class="station"></div>
      <div class="station"></div>
      <div class="station"></div>
    </div>
  </div>
  <nav class="plan-selection-links mt-4">
    <ul>
      <li><a class="active" href=""><strong>Expecting a newborn</strong></a></li>
      <li><a href=""><strong>A New Parent</strong></a></li>
      <li><a href=""><strong>Starting College</strong></a></li>
      <li><a href=""><strong>Finishing College</strong></a></li>
      <li><a href=""><strong>A Grandparent</strong></a></li>
    </ul>
  </nav>
</div>