<div class="row">
  <!-- Calculate-info-->
  <form class="col-lg-8 pr-3 pr-md-4">
    <!-- heading info-->
    <h1 class="tab-content-heading mb-2">Why save vs. borrow</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt enim a justo volutpat dapibus. Interdum et malesuada
      fames ac ante ipsum primis in faucibus. Suspendisse hendrerit nunc sed leo egestas gravida eu a quam.</p>
    <div class="row tab-input-info">
      <div class="col-lg-6 form-group">
        <label class="fnt-md">How much do you need?</label>
        <input type="text" class="form-control" aria-describedby="dollar-number" value="$900,00">
      </div>
      <div class="col-lg-6 form-group">
        <label class="fnt-md" for="exampleInputEmail1">How much do you need?</label>
        <input type="text" class="form-control" aria-describedby="dollar-number" value="$200">
      </div>
    </div>

    <div class="row mb-3 mb-md-4">
      <div class="back-next-container float-right">
        <button class="next btn btn-outline-primary float-right" type="button">Submit</button>
        <!-- <button class="next btn btn-outline-primary" type="button">Next</button> -->
      </div>
    </div>
  </form>
  <!-- clients testimonials-->
  <div class="col-lg-4 testimonials-info">
    <span class="d-block mb-3 mb-md-4">We have helped over 1,000,000 parents like you pay for their kids education!</span>
    <blockquote>
      <img class="d-block mb-2" src="../assets/plans/quote.png" alt="quotes icon">
      <p class="quotes-text my-2 fnt-lg">
        <i>I started saving as soon as I found out I was pregnant with Tom. Everything felt really uncertain back then, but
          it was important for me to start somewhere...</i>
      </p>
      <span class="author fnt-md fnt-bold d-block text-right">- Metilda J Tom</span>
    </blockquote>
  </div>
</div>