<section class="bg-secondary-light">
  <div class="container">
    <div class="plan-selection-area">
      <header class="plan-selection-header pt-4">
        <article class="text-left pl-3 mb-2">
          <h1>Where are you at in life?</h1>
          <p>Choose your life stage to understand the basics and start investing in your kid’s future today.</p>
        </article>
      </header>
      <div class="plan-selection-illustrations py-2">
        <div class="circle-illustrations-holder">
            <svg id="circle-nav" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 420 420" class="d-none">
              <g id="circle-nav-rail">
                <circle cx="210" cy="210" r="196" fill="none" stroke="#000" stroke-miterlimit="10" stroke-dasharray="5.006 5.006"/>
              </g>
              <g id="circle-nav-dots">
                <circle class="slide-nav" data-slide="plan-3"  cx="274" cy="395" r="6"/>
                <circle class="slide-nav" data-slide="plan-4"  cx="15.5" cy="234" r="6"/>
                <circle class="slide-nav" data-slide="plan-5"  cx="89" cy="56" r="6"/>
                <circle class="slide-nav" data-slide="plan-1"  cx="313.5" cy="43" r="6"/>
                <circle class="slide-nav" data-slide="plan-2"  cx="406" cy="210" r="6"/>
              </g>
            </svg>
            <div class="illustrations">
              <article id="plan-1" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/home-anim/a-01.png" alt="">
                </figure>
                <div class="text-content">
                  <h3>Expecting a new born</h3>
                  <p>Ad ad est labore consequat adipisicing in reprehenderit nisi adipisicing laborum occaecat culpa duis reprehenderit ea.</p>
                  <a href="learn.html" class="btn btn-outline-primary mt-2">
                    KNOW MORE
                  </a>
                </div>
              </article>
               <article id="plan-2" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/home-anim/a-02.png" alt="">
                </figure>
                <div class="text-content">
                  <h3>Having another child</h3>
                  <p>Ad ad est labore consequat adipisicing in reprehenderit nisi adipisicing laborum occaecat culpa duis reprehenderit ea.</p>
                  <a href="learn.html" class="btn btn-outline-primary mt-2">
                    KNOW MORE
                  </a>
                </div>
              </article>
               <article id="plan-3" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/home-anim/a-03.png" alt="">
                </figure>
                <div class="text-content">
                  <h3>Preparing for college</h3>
                  <p>Ad ad est labore consequat adipisicing in reprehenderit nisi adipisicing laborum occaecat culpa duis reprehenderit ea.</p>
                  <a href="learn.html" class="btn btn-outline-primary mt-2">
                    KNOW MORE
                  </a>
                </div>
              </article>
               <article id="plan-4" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/home-anim/a-04.png" alt="">
                </figure>
                <div class="text-content">
                  <h3>The college experience</h3>
                  <p>Ad ad est labore consequat adipisicing in reprehenderit nisi adipisicing laborum occaecat culpa duis reprehenderit ea.</p>
                  <a href="learn.html" class="btn btn-outline-primary mt-2">
                    KNOW MORE
                  </a>
                </div>
              </article>
               <article id="plan-5" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/home-anim/a-05.png" alt="">
                </figure>
                <div class="text-content">
                  <h3>Grandparents</h3>
                  <p>Ad ad est labore consequat adipisicing in reprehenderit nisi adipisicing laborum occaecat culpa duis reprehenderit ea.</p>
                  <a href="learn.html" class="btn btn-outline-primary mt-2">
                    KNOW MORE
                  </a>
                </div>
              </article>
            </div>
        </div>
      </div>
      <div class="d-none d-lg-block mt-3 pb-5">
         ${require('html-loader!./planselectionlink.html')}
      </div>

    </div>
  </div>
</section>
