<!-- row -->
<div class="row">
  <!-- Calculate-info middle section -->
  <div class="col-lg-8 pr-3 pr-md-4">
    <!-- inner steps -->
    ${require('html-loader?interpolate!./plandetail-createplan-step1.html')} ${require('html-loader?interpolate!./plandetail-createplan-step2.html')}
    ${require('html-loader?interpolate!./plandetail-createplan-step3.html')}
  </div>
  <!-- end of calculate-info middle section -->
  <!-- clients testimonials-->
  <div class="col-lg-4 testimonials-info testimonials-info--slider">
    ${require('html-loader?interpolate!../components/right-slider.html')}
  </div>
</div>
<!-- end of row -->