<nav class="plan-selection-links">
  <ul>
    <li><a href="#" class="slide-nav" data-slide="plan-1"><strong>Expecting a newborn</strong></a></li>
    <li><a href="#" class="slide-nav" data-slide="plan-2"><strong>Having another child</strong></a></li>
    <li><a href="#" class="slide-nav" data-slide="plan-3"><strong>Preparing for College</strong></a></li>
    <li><a href="#" class="slide-nav" data-slide="plan-4"><strong>The college experience</strong></a></li>
    <li><a href="#" class="slide-nav" data-slide="plan-5"><strong>Grandparents</strong></a></li>
  </ul>
</nav>
