<!-- inner steps -->
<div class="inner-step">
  <!-- heading info-->
  <h1 class="tab-content-heading">Review my plan</h1>
  <h4 class="fnt-sm bold text-uppercase">Your education funding journey</h4>
  <p class="tab-content-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam neque saepe perferendis officia enim minus libero incidunt
    facilis itaque aut culpa deserunt, maxime optio quis labore maiores vitae laboriosam ea?</p>
  <!-- calculate details-info-->
  <div class="row tab-input-info m-0">
    <div class="col-md-6 my-3 p-0">
      <p class="fnt-sm bold text-uppercase">Monthly contribution</hp>
        <p class="fnt-xs light">Based on the information you have input, review your funding foal below:</p>
        <h2 class="fnt-big bold">$565</h2>
    </div>
    <div class="col-md-6 my-3 p-0">
      <p class="fnt-sm bold text-uppercase">Funding goal</hp>
        <p class="fnt-xs light">Based on the information you have input, review your funding foal below:</p>
        <h2 class="fnt-big bold mb-0">$97,500</h2>
        <p class="text-center light">(over year of school)</p>
    </div>
  </div>


  <!-- Back next button -->
  <div class="back-next-container">
    <button class="inner-previous btn btn-outline-primary" type="button">Back</button>
    <button class="next btn btn-outline-primary" type="button">Next</button>
  </div>
</div>
<!-- end of inner step -->