<div class="row">
        <!-- Calculate-info-->
        <form class="col-lg-8 pr-3 pr-md-4">
          <!-- heading info-->
          <h1 class="tab-content-heading mb-2">Why save vs. borrow</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                tincidunt enim a justo volutpat dapibus. Interdum et malesuada
                fames ac ante ipsum primis in faucibus. Suspendisse hendrerit
                nunc sed leo egestas gravida eu a quam.</p>
            <div class="row tab-input-info">
                <div class="col-lg-6 form-group">
                    <label class="fnt-md">How much do you need?</label>
                    <input type="text" class="form-control"  aria-describedby="dollar-number" value="$900,00">
                </div>
                <div class="col-lg-6 form-group">
                    <label class="fnt-md" for="exampleInputEmail1">How much do you need?</label>
                    <input type="text" class="form-control"  aria-describedby="dollar-number" value="$200">
                </div>
            </div>
            
            <div class="row mb-3 mb-md-4">
                <div class="col-sm">
                    <p class="clr-gray">
                        <strong>The difference you pay if you borrow :</strong> <span class="text-number">$17,760</span> in 10 years
                    </p>
                    <ul class="row d-flex p-0 numbers-list my-3">
                        <li class="col-md-6 text-center">
                            <span><strong class="clr-gray">Save</strong> (you invest)</span>
                            <span class="d-block text-number">$18,240</span>
                            <span>10 years from now</span>
                            <div class="text-underline">
                                <span>or</span>
                            </div>
                        </li>
                        <li class="col-md-6">
                            <span><strong class="clr-gray">Borrow</strong>(you pay)</span>
                            <span class="d-block text-number">$18,240</span>
                            <span>10 years from now</span>
                        </li>
                    </ul>
                </div>
            </div> 
            <div class="col-sm">
                    <button class="next btn btn-outline-primary" type="button">Get more detail plan</button>
                </div>
          <!-- calculate details-info-->
          <!-- <h6 class="claculator-custom">
            My
            <div class="form-check form-check-inline mx-2">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Son">
              <label class="form-check-label" for="inlineRadio1">Son</label>
            </div>
            <div class="form-check-inline ml-1">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Daughter">
              <label class="form-check-label" for="inlineRadio2">Daughter</label>
            </div>
            <br> is
            <select class="ui search dropdown">
              <option value="">00</option>
              <option value="AL">01</option>
              <option value="AK">02</option>
              <option value="CO">03</option>
            </select>
            years old and has
            <select class="ui search dropdown">
              <option value="">00</option>
              <option value="AL">01</option>
              <option value="AK">02</option>
              <option value="CO">03</option>
            </select>
            Silblings.
          </h6> -->
          <!-- <h6 class="claculator-custom claculator-custom--lg-dp mt-2 mt-md-3 border-bottom-0">
            When I think about my son’s education, I would like to give him the opportunity to
            <select class="ui search dropdown">
              <option value="">Attend a year private school</option>
              <option value="AL">Attend a 2 year private school</option>
              <option value="AK">Attend a 3 year private school</option>
              <option value="CO">Attend a 4 year private school</option>
            </select>
            <br> like
            <select class="ui search dropdown">
              <option value="">Stanford University</option>
              <option value="AL">Oxford University</option>
              <option value="AK">Anna University</option>
              <option value="CO">Stanford University</option>
            </select>
          </h6> -->
        </form>
        <!-- clients testimonials-->
        <div class="col-lg-4 testimonials-info">
          <span class="d-block mb-3 mb-md-4">We have helped over 1,000,000 parents like you pay for their kids education!</span>
          <blockquote>
            <img class="d-block mb-2" src="../assets/plans/quote.png" alt="quotes icon">
            <p class="quotes-text my-2 fnt-lg">
              <i>I started saving as soon as I found out I was pregnant with Tom. Everything felt really uncertain back then, but
                it was important for me to start somewhere...</i>
            </p>
            <span class="author fnt-md fnt-bold d-block text-right">- Metilda J Tom</span>
          </blockquote>
        </div>
      </div>
      