<!-- inner steps -->
<div class="inner-step">
  <!-- heading info-->
  <h1 class="tab-content-heading">How can I cover the gap?</h1>
  <p class="tab-content-desc">It might seem like a big number now, but let us help you break it down.</p>
  <!-- calculate details-info-->
  <div class="row tab-input-info m-0">
    <div class="col-md-6 mt-3 p-0">
      <h4 class="fnt-sm bold">Scolarships & grants</h4>
    </div>
    <div class="col-md-6 mt-3 p-0">
      <div class="flex-center float-right">
        <input class="form-control input-sm fnt-sm bold" type="text" placeholder="ex:$40,000">
        <span>total</span>
        <img class="ml-2" src="../assets/icon-info.png" alt="info">
      </div>
    </div>
  </div>
  <div class="row tab-input-info m-0">
    <div class="col-md-6 mt-3 p-0">
      <h4 class="fnt-sm bold">Bonuses and other incentives</h4>
    </div>
    <div class="col-md-6 mt-3 p-0">
      <div class="flex-center float-right">
        <input class="form-control input-sm fnt-sm bold" type="text" placeholder="ex:$4,000">
        <span>a year</span>
        <img class="ml-2" src="../assets/icon-info.png" alt="info">
      </div>
    </div>
  </div>
  <!-- row -->
  <div class="row tab-input-info m-0">
    <div class="col-md-6 mt-3 p-0">
      <h4 class="fnt-sm bold">Birthdays and other big milestones</h4>
    </div>
    <div class="col-md-6 mt-3 p-0">
      <div class="flex-center float-right">
        <input class="form-control input-sm fnt-sm bold" type="text" placeholder="ex:$400">
        <span>a year</span>
        <img class="ml-2" src="../assets/icon-info.png" alt="info">
      </div>
    </div>
  </div>
  <!-- row -->
  <div class="row tab-input-info m-0">
    <div class="col-md-6 mt-3 p-0">
      <h4 class="fnt-sm bold">My kid's contribution</h4>
    </div>
    <div class="col-md-6 mt-3 p-0">
      <div class="flex-center float-right">
        <input class="form-control input-sm fnt-sm bold" type="text" placeholder="ex:$200">
        <span>a year</span>
        <img class="ml-2" src="../assets/icon-info.png" alt="info">
      </div>
    </div>
  </div>

  <ul class="plan-table my-3">
    <li>
      <div class="content">
        <h4 class="plan-table__heading">Estimated external contributions:</h4>
        <p class="plan-table__desc light"> This is the amount you could potentially be saving from external contributions.</p>
      </div>
      <div class="price">
        <h3>$148,000</h3>
      </div>
    </li>
  </ul>


  <!-- Back next button -->
  <div class="back-next-container">
    <button class="inner-previous btn btn-outline-primary" type="button">Back</button>
    <button class="inner-next btn btn-outline-primary" type="button">Next</button>
  </div>
</div>
<!-- end of inner step -->