<div class="row">
    <!-- Calculate-info-->
    <div class="col-lg-8 pr-3 pr-md-4">
        <!-- heading info-->
        <h1 class="tab-content-heading mb-2">Validate your strategy</h1>
        <p class="fnt-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt enim a justo volutpat dapibus. Interdum et
            malesuada.</p>

        <!-- accordian-->
        <div class="panel-links pt-2 pb-4">
            <a href="#" class="accordian-trigger">
                <img class="mr-1" src="../assets/advisor-footer.png" alt="icon info">
                <span>Send report to my advisor</span>
            </a>
            <a href="#" class="accordian-trigger">
                <img class="mr-1" src="../assets/advisor-footer.png" alt="icon info">
                <span>Pair me with an advisor</span>
            </a>
            <a href="#" class="accordian-trigger">
                <img class="mr-1" src="../assets/advisor-footer.png" alt="icon info">
                <span>Open a 529 plan on my own</span>
            </a>
        </div>
        <div class="back-next-container">
            <button class="previous btn btn-outline-primary" type="button">Back</button>
            <button class="next btn btn-outline-primary" type="button">Next</button>
        </div>
    </div>
    <!-- clients testimonials-->
    <div class="col-lg-4 testimonials-info testimonials-info--slider">
        ${require('html-loader?interpolate!../components/right-slider.html')}
    </div>
</div>