<section class="bg-secondary-light">
  <div class="container">
    <div class="plan-selection-area">
      <header class="plan-selection-header py-4">
        <article class="text-center mb-2">
          <h1>Where are you at in life?</h1>
          <p>Choose your life stage to understand the basics and start investing in your kid’s future today.</p>
        </article>
      </header>
      ${require('html-loader!./planselectionlink.html')}
      <div class="plan-selection-illustrations py-3 mt-3">

        <div class="circle-illustrations-holder">
            <svg id="circle-nav" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 420 420">
              <g id="circle-nav-rail">
                <circle cx="210" cy="210" r="196" fill="none" stroke="#000" stroke-miterlimit="10" stroke-dasharray="5.006 5.006"/>
              </g>
              <g id="circle-nav-dots">
                <circle class="slide-nav" data-slide="plan-3"  cx="274" cy="395" r="6"/>
                <circle class="slide-nav" data-slide="plan-4"  cx="15.5" cy="234" r="6"/>
                <circle class="slide-nav" data-slide="plan-5"  cx="89" cy="56" r="6"/>
                <circle class="slide-nav" data-slide="plan-1"  cx="313.5" cy="43" r="6"/>
                <circle class="slide-nav" data-slide="plan-2"  cx="406" cy="210" r="6"/>
              </g>
            </svg>
            <div class="illustrations">
              <article id="plan-1" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/illustration-1.png" alt="">
                </figure>

                <h3>Expecting a new born</h3>
                <a href="" class="btn btn-outline-primary mt-3">
                  KNOW MORE
                </a>
              </article>
               <article id="plan-2" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/illustration-1.png" alt="">
                </figure>

                <h3>A new parent</h3>
                <a href="" class="btn btn-outline-primary mt-3">
                  KNOW MORE
                </a>
              </article>
               <article id="plan-3" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/illustration-1.png" alt="">
                </figure>

                <h3>Starting college</h3>
                <a href="" class="btn btn-outline-primary mt-3">
                  KNOW MORE
                </a>
              </article>
               <article id="plan-4" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/illustration-1.png" alt="">
                </figure>

                <h3>Finishing college</h3>
                <a href="" class="btn btn-outline-primary mt-3">
                  KNOW MORE
                </a>
              </article>
               <article id="plan-5" class="illustration">
                <figure>
                  <img class="img-fluid" src="../assets/illustration-1.png" alt="">
                </figure>

                <h3>A grand parent</h3>
                <a href="" class="btn btn-outline-primary mt-3">
                  KNOW MORE
                </a>
              </article>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
