<!-- row -->
<div class="row">
  <!-- Calculate-info middle section -->
  <div class="col-lg-8 pr-3 pr-md-4">
    <!-- inner steps -->
     ${require('html-loader?interpolate!./plandetail-createplan-step1.html')}
     ${require('html-loader?interpolate!./plandetail-createplan-step2.html')}
  </div>
  <!-- end of calculate-info middle section -->
  <!-- clients testimonials-->
  <div class="col-lg-4 testimonials-info">
    <span class="d-block mb-3 mb-md-4">We have helped over 1,000,000 parents like you pay for their kids education!</span>
    <blockquote>
      <img class="d-block mb-2" src="../assets/plans/quote.png" alt="quotes icon">
      <p class="quotes-text my-2 fnt-lg">
        <i>I started saving as soon as I found out I was pregnant with Tom. Everything felt really uncertain back then, but
          it was important for me to start somewhere...</i>
      </p>
      <span class="author fnt-md fnt-bold d-block text-right">- Metilda J Tom</span>
    </blockquote>
  </div>
</div>
<!-- end of row -->
