<!-- inner steps -->
<div class="inner-step">
  <!-- heading info-->
  <h1 class="tab-content-heading">How can I cover the gap?</h1>
  <h1 class="tab-content-desc">It might seem like a big number now, but let us help you break it down.</h1>
  <!-- calculate details-info-->
  <div class="row tab-input-info m-0">
    <div class="col-md-6 mt-3">
      <h4 class="fnt-bold md">
        Household income
      </h4>
    </div>
    <div class="col-md-6 mt-3">
      <div class="flex-center">
        <input class="form-control fnt-bold md" type="text" value="$150,000">
        <img class="ml-2" src="../assets/icon-info.png" alt="info">
      </div>
    </div>
  </div>
  <div class="row tab-input-info m-0">
    <div class="col-md-6 mt-3">
      <h4 class="fnt-bold md">
        Monthly expenses
      </h4>
    </div>
    <div class="col-md-6 mt-3">
      <div class="flex-center">
        <input class="form-control fnt-bold md" type="text" value="$3,200">
        <img class="ml-2" src="../assets/icon-info.png" alt="info">
      </div>
    </div>
  </div>
  <!-- Plan table -->
  <div class="row mx-0 my-4">
    <ul class="col-12 plan-table">
      <li>
        <div class="content">
          <h4 class="plan-table__heading">Safe to save</h4>
          <p class="plan-table__dec"> This is the amount you could be saving today monthly while still covering your costs!</p>
        </div>
        <div class="price">
          <h3>$250</h3>
        </div>
      </li>
      <li>
        <div class="content">
          <p>At this pace, your gap will be of</p>
        </div>
        <div class="price">
          <h4>$70,000</h4>
        </div>
      </li>
    </ul>
  </div>
  <!-- Back next button -->
  <div class="back-next-container">
    <button class="inner-previous btn btn-outline-primary" type="button">Back</button>
    <button class="next btn btn-outline-primary" type="button">Next</button>
  </div>
</div>
<!-- end of inner step -->