<div class="row">
  <!-- Calculate-info-->
  <div class="col-lg-8 pr-3 pr-md-4">
    <!-- heading info-->
    <h1 class="tab-content-heading">Results</h1>
    <!-- calculate details-info-->

    <div class="row mx-0">
      <div class="col-12">
        <p class="clr-gray">
          <strong>The difference you pay if you borrow :</strong>
          <span class="text-number">$17,760</span> in 10 years
        </p>
        <ul class="row d-flex p-0 numbers-list my-3">
          <li class="col-md-6 text-center">
            <span>
              <strong class="clr-gray">Save</strong> (you invest)</span>
            <span class="d-block text-number">$18,240</span>
            <span>10 years from now</span>
            <div class="text-underline">
              <span>or</span>
            </div>
          </li>
          <li class="col-md-6">
            <span>
              <strong class="clr-gray">Borrow</strong>(you pay)</span>
            <span class="d-block text-number">$18,240</span>
            <span>10 years from now</span>
          </li>
        </ul>
      </div>

      <div class="back-next-container mt-3">
        <button class="previous btn btn-outline-primary" type="button">Back</button>
        <button class="btn btn-outline-primary float-right" type="button">Start Investing Now</button>
        <!-- <button class="next btn btn-outline-primary" type="button">Next</button> -->
      </div>
    </div>
  </div>
  <!-- clients testimonials-->
  <div class="col-lg-4 testimonials-info">
    <span class="d-block mb-3 mb-md-4">We have helped over 1,000,000 parents like you pay for their kids education!</span>
    <blockquote>
      <img class="d-block mb-2" src="../assets/plans/quote.png" alt="quotes icon">
      <p class="quotes-text my-2 fnt-lg">
        <i>I started saving as soon as I found out I was pregnant with Tom. Everything felt really uncertain back then, but
          it was important for me to start somewhere...</i>
      </p>
      <span class="author fnt-md fnt-bold d-block text-right">- Metilda J Tom</span>
    </blockquote>
  </div>
</div>