<div class="row">
  <!-- Calculate-info-->
  <div class="col-lg-8 pr-3 pr-md-4">
    <!-- heading info-->
    <h1 class="tab-content-heading">How much can I really afford?</h1>
    <h1 class="tab-content-heading">It might seem like a big number now, but let us help you break it down.</h1>
    <!-- calculate details-info-->
    <div class="row mx-0">
      <div class="col-md-6">
        Household income
      </div>
      <div class="col-md-6">
        <input type="text" value="$150,000">
        <i class=""></i>
      </div>
    </div>
    <div class="row mx-0">
      <div class="col-md-6">
        Monthly expenses
      </div>
      <div class="col-md-6">
        <input type="text" value="$3,000">
        <i class=""></i>
      </div>
    </div>
    <!-- Plan table -->
    <div class="row mx-0">
      <ul class="col-md-8 plan-table">
        <li>
          <div class="content">
            <h3>Safe to save</h3>
            <p>This is the amount you could be saving today monthly while still covering your costs!</p>

          </div>
          <div class="price">
            <h2>$250</h2>
          </div>
        </li>
        <li>
          <div class="content">
            <p>At this pace, your gap will be of</p>
          </div>
          <div class="price">
            <h2>$70,000</h2>
          </div>
        </li>
      </ul>
    </div>
    <!-- Back next button -->
    <div class="row mx-0 back-next-container">
      <button class="inner-previous btn btn-outline-primary" type="button">Back</button>
      <button class="inner-next btn btn-outline-primary" type="button">Next</button>
    </div>
  </div>
  <!-- clients testimonials-->
  <div class="col-lg-4 testimonials-info">
    <span class="d-block mb-3 mb-md-4">We have helped over 1,000,000 parents like you pay for their kids education!</span>
    <blockquote>
      <img class="d-block mb-2" src="../assets/plans/quote.png" alt="quotes icon">
      <p class="quotes-text my-2 fnt-lg">
        <i>I started saving as soon as I found out I was pregnant with Tom. Everything felt really uncertain back then, but
          it was important for me to start somewhere...</i>
      </p>
      <span class="author fnt-md fnt-bold d-block text-right">- Metilda J Tom</span>
    </blockquote>
  </div>
</div>
