<ul class="understand-plan-slider">
	<li>
		<img src="../assets/gift-birthday.png" alt="">
		<h4 class="mt-3 mb-2">College is so expensive. Can i afford to start now?</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quaerat cumque, voluptatem repellendus nesciunt vero corporis repudiandae laborum et sequi nemo facilis, quos architecto porro excepturi beatae illo, ducimus sunt!</p>
	</li>
	<li>
		<img src="../assets/gift-birthday.png" alt="">
		<h4 class="mt-3 mb-2">How can I contribute for both my children?</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quaerat cumque, voluptatem repellendus nesciunt vero corporis repudiandae laborum et sequi nemo facilis, quos architecto porro excepturi beatae illo, ducimus sunt!</p>
	</li>
	<li>
		<img src="../assets/gift-birthday.png" alt="">
		<h4 class="mt-3 mb-2">How can I contribute for both my entire family?</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt quaerat cumque, voluptatem repellendus nesciunt vero corporis repudiandae laborum et sequi nemo facilis, quos architecto porro excepturi beatae illo, ducimus sunt!</p>
	</li>
</ul>