<section>
  <div class="container py-5">
  	<div id="save-borrow-section">
		
		<div class="user-selection-area">
			<div class="row amt-selection">
				<div class="col-lg-6">
					<div class="input-selection-group">
						<label for="user-amt-total" class="lead text-secondary">
							How much do you need?
						</label>
						<div class="input-field-wrapper unit-prepend bordered large-field">
							<input type="number" class="input-field" id="user-amt-total" value="900000">
							<span class="unit">
								$
							</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="input-selection-group">
						<label for="user-amt-pay-per-month" class="lead text-secondary">
							How much do you want to pay monthly?
						</label>
						<div class="input-field-wrapper unit-prepend bordered large-field">
							<input type="number" class="input-field" id="user-amt-pay-per-month" value="">
							<span class="unit">
								$
							</span>
						</div>
					</div>
				</div>
			</div>


			<div class="drag-slider-wrapper mt-5">
				<div class="custom-drag-slider" id="saving-slider"></div>
				<div class="drag-slider-label d-flex justify-content-between text-secondary py-3 fw-semi">
					<span >Today</span>
					<span>9 years</span>
					<span>18 years</span>
				</div>
			</div>
		</div>


	</div>
  </div>
</section>
