<section>
  <div class="container py-5">
    <div>
      ${require('html-loader?interpolate!./planselectionlinkslider.html')}

      <!-- main-content start-->
      <div class="main-content-wrapper">
        <!-- heading info-->
        <div class="row">
          <div class="col-md-12 text-right">

          </div>
        </div>
        <!-- cards info-->
        <div class="row">
          <div class="col-md-4 col-lg-3">
            <ul id="progressbar" class="progressbar">
              <li class="active">Simple planning tool</li>
              <li>Results</li>
            </ul>
          </div>
          <!-- card2-->
          <div class="col-md-8 col-lg-9">
            <fieldset class="step w-100">
              ${require('html-loader?interpolate!./simple-planning-step1.html')}
            </fieldset>
            <fieldset class="step w-100">
              ${require('html-loader?interpolate!./simple-planning-step2.html')}
            </fieldset>
          </div>
          <!-- cards info end-->
        </div>

      </div>
    </div>
  </div>
</section>