<div class="card">
  <div class="d-flex align-items-start">
    <img src="../assets/gift-birthday.png" alt="">
    <div class="card-content pl-3">
      <h1 class="card-heading">find out what their passions are</h1>
      <p class="card-detail">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tincidunt enim a justo volutpat dapibus. Interdum et malesuada fames ac ante ipsum primis in faucibus</p>
    </div>
  </div>
  <div class="text-right">
    <a class="" href="javascript:void(0);">
      <strong>learn more</strong>
    </a>
  </div>
</div>
