<section>
  <div class="container py-3">
    <div>
      <div class="plan-selection-tabs">
        <div class="tab-wrapper sub-tabs pt-5 active" id="plan-1">
          <div class="tab-links">
            <h4 class="tab-link-title">How can i bring my kid onboard?</h4>
            <ul class="list-unstyled">
              <li class="tab-link active">
                <a href="#sub-tab-1">
                  <strong>Find out what their passions are</strong>
                </a>
              </li>
              <li class="tab-link">
                <a href="#sub-tab-2">
                  <strong>Evaluate your options with him</strong>
                </a>
              </li><li class="tab-link">
                <a href="#sub-tab-3">
                  <strong>Pass on your financial habits</strong>
                </a>
              </li>
            </ul>
          </div>
          <div class="tab-contents">

            <div id="sub-tab-1" class="active">
              <article class="text-right pl-5">
                <h1 class="tab-content-heading">Find out what your passions are</h1>
                <p class="tab-content-desc">Being a new parent comes with a lot of new expenses and it can sometimes feel like your money is being pulled
                  in so many directions. The fact you’re already thinking about education funding means you’re ahead of the
                  game.</p>
              </article>


              <div class="row mt-4">
                <h6 class="col-12 text-right text-secondary">
                  3 ways to get your kids involved with savings for college
                </h6>
                <div class="col-md-4 d-flex">
                  <div class="card block-cta p-3">
                    <h5>Help them create a system for saving</h5>
                    <div  class="mt-2 cta-action">
                      <a href="">
                        <strong>Learn more</strong>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex">
                  <div class="card block-cta p-3">
                    <h5>Help them create a system for savingHelp them create a system for saving</h5>
                    
                    <div  class="mt-2 cta-action">
                      <a href="">
                        <strong>Learn more</strong>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 d-flex">
                  <div class="card block-cta p-3">
                    <h5>Help them create a system for saving</h5>
                    
                    <div  class="mt-2 cta-action">
                      <a href="">
                        <strong>Learn more</strong>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div id="sub-tab-2">
              <article class="text-right pl-5">
                <h1 class="tab-content-heading">Pass on your financial habits</h1>
                <p class="tab-content-desc">Being a new parent comes with a lot of new expenses and it can sometimes feel like your money is being pulled
                  in so many directions. The fact you’re already thinking about education funding means you’re ahead of the
                  game.</p>
              </article>
            </div>

            <!-- <div id="tab-2">
              <article class="pl-5">
                <h1>Understand <br> the options</h1>
                <p>Ullamco aute aute cillum velit excepteur magna ex do eiusmod non enim irure id fugiat. Dolore nostrud commodo incididunt tempor in id esse ex ut esse cupidatat ullamco pariatur sint velit dolore.</p>
              </article>
              <div class="mt-5">
                <h5 class="pl-5 text-secondary">Graph</h5>
              </div>
              <div>
              </div>
            </div> -->

            <div id="sub-tab-3">
              <article class="text-right pl-5">
                <h1 class="tab-content-heading">Evaluate your options with him</h1>
                <p class="tab-content-desc">Being a new parent comes with a lot of new expenses and it can sometimes feel like your money is being pulled
                  in so many directions. The fact you’re already thinking about education funding means you’re ahead of the
                  game.</p>
              </article>
            </div>
          </div>
        </div>

        
      </div>

    </div>
  </div>
</section>
