<section>
	<div class="container py-5">
		<div>
			${require('html-loader?interpolate!./planselectionlinkslider.html')}

			<div class="tab-wrapper pt-5">
				<div class="tab-links">
					<ul class="list-unstyled">
						<li class="tab-link"><a href="#tab-1"><strong>Overview</strong></a></li>
						<li class="tab-link"><a href="#tab-2"><strong>Where do i begin?</strong></a></li>
						<li class="tab-link"><a href="#tab-3"><strong>What are my options?</strong></a></li>
						<li class="tab-link"><a href="#tab-4"><strong>When should i start?</strong></a></li>
						<li class="tab-link"><a href="#tab-5"><strong>Can i afford it?</strong></a></li>
						<li class="tab-link"><a href="#tab-6"><strong>How can i boost my contribution?</strong></a></li>
					</ul>
				</div>
				<div class="tab-contents">

          <div id="tab-1" class="active">
            <article class="pl-5 text-right">
              <h3 class="tab-content-subheading">expecting a newborn</h3>
              <h1 class="tab-content-heading">Managing the balancing act</h1>
              <p class="tab-content-desc">Being a new parent comes with a lot of new expenses and it can sometimes feel like your money is being pulled in so many directions. The fact you’re already thinking about education funding means you’re ahead of the game.</p>
            </article>
          </div>

					<div id="tab-2">
						<article class="pl-5 text-right">
							<h1 class="tab-content-heading">Understand the basics</h1>
							<p class="tab-content-desc">A 529’s is a tax- friendly savings account designed to encourage saving for your kid’s education costs at eligible undergraduate, graduate and trade schools or for technical and professional training.</p>
						</article>

						<div class="mt-5">
							<h5 class="pl-5 text-secondary">Top questions other parents are asking?</h5>
						</div>
						<div class="mt-3">
							${require('html-loader?interpolate!./accordian.html')}
						</div>
					</div>

					<div id="tab-3">
						<article class="pl-5 text-right">
							<h1 class="tab-content-heading">Find a plan that suits your needs</h1>
							<p class="tab-content-desc">Compare the advantages of three popular college savings plans and learn why
                millions of parents like you are choosing CollegeAmerica® 529 Savings Account</p>
						</article>
					</div>

					<div id="tab-4">
						<article class="pl-5 text-right">
							<h1 class="tab-content-heading">Start small today, grow bigger tomorrow.</h1>
							<p class="tab-content-desc">At this point dont worry about being perfect. Just start somewhere today and evolve your strategy as you go.</p>
						</article>

					</div>

					<div id="tab-5">
						<article class="pl-5 text-right">
							<h1 class="tab-content-heading">Find your magic number</h1>
							<p class="tab-content-desc">How much you should be putting away each month depends on a few things:
                <br>
                the type of school you are saving for, how much of it you plan to cover and how
                much you can afford to save. Our planning tool will help you set a realistic goal
                and find the contribution amount that suits you.
              </p>
						</article>

					</div>

					<div id="tab-6">
						<article class="pl-5 text-right">
							<h1 class="tab-content-heading">Small gifts can lead to a big future</h1>
							<p class="tab-content-desc">CollegeAmerica allows family members, friends and even the beneficiary contribute to the account. While grandparents may opt to make Education part of their legacy, birthdays and baby showers are also a great way for others to shape the future of someone they care about</p>
            </article>

            <div class="row pl-5 mt-3">
              <div class="col-sm-4">
                <div class="gift-box">
                  <img class="gift-box__img" src="../assets/advisor-footer.png" alt="gift icon"/>
                  <h2 class="gift-box__title">1st Birthdays can raise an average of $5000 in contributions without gift-tax consequences.</h2>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="gift-box">
                    <img class="gift-box__img" src="../assets/advisor-footer.png" alt="gift icon"/>
                  <h2 class="gift-box__title">Grandparents can contribute up to $14,000 a year towards their grandkids education</h2>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="gift-box">
                  <img class="gift-box__img" src="../assets/advisor-footer.png" alt="gift icon"/>
                  <h2 class="gift-box__title">Family and friends can also collaborate by giving meaningful gifts for your child’s milestones.</h2>
                </div>
              </div>
            </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
