<section>
	<div class="container py-5">
		<div>
			${require('html-loader?interpolate!./planselectionlinkslider.html')}

			<div class="tab-wrapper pt-5">
				<div class="tab-links">
					<ul class="list-unstyled">
						<li class="tab-link">
							<a href="#tab-1">
								<strong>Where do i begin?</strong>
							</a>
						</li>
						<li class="tab-link">
							<a href="#tab-2">
								<strong>What are my options?</strong>
							</a>
						</li>
						<li class="tab-link">
							<a href="#tab-3">
								<strong>When should i start?</strong>
							</a>
						</li>
						<li class="tab-link">
							<a href="#tab-4">
								<strong>Can i afford it?</strong>
							</a>
						</li>
						<li class="tab-link">
							<a href="#tab-5">
								<strong>How can i boost my contribution?</strong>
							</a>
						</li>
					</ul>
				</div>
				<div class="tab-contents">

					<div id="tab-1" class="active">
						<article class="pl-5">
							<h1>Understand
								<br> the basics</h1>
							<p>Ullamco aute aute cillum velit excepteur magna ex do eiusmod non enim irure id fugiat. Dolore nostrud commodo incididunt
								tempor in id esse ex ut esse cupidatat ullamco pariatur sint velit dolore.</p>
						</article>

						<div class="mt-5">
							<h5 class="pl-5 text-secondary">Top questions other parents are asking?</h5>
						</div>
						<div class="mt-3">
							${require('html-loader?interpolate!./accordian.html')}
						</div>
					</div>

					<div id="tab-2">
						<article class="pl-5">
							<h1>Understand
								<br> the options</h1>
							<p>Ullamco aute aute cillum velit excepteur magna ex do eiusmod non enim irure id fugiat. Dolore nostrud commodo incididunt
								tempor in id esse ex ut esse cupidatat ullamco pariatur sint velit dolore.</p>
						</article>
						<div class="mt-5">
							<h5 class="pl-5 text-secondary graph-heading">Start Saving</h5>
							<div>
								<form id="nl-form" class="nl-form">
									<h3>
										I am an
										<select>
											<option value="1" selected>$20/month</option>
											<option value="3">today</option>
										</select>
									</h3>
								</form>
							</div>
						</div>
						<div>
							${require('html-loader?interpolate!./graph.html')}
						</div>
					</div>

					<div id="tab-3">
						<article>
							<h1>Starting</h1>
							<p>Ullamco aute aute cillum velit excepteur magna ex do eiusmod non enim irure id fugiat. Dolore nostrud commodo incididunt
								tempor in id esse ex ut esse cupidatat ullamco pariatur sint velit dolore.</p>
						</article>

					</div>

					<div id="tab-4">
						<article>
							<h1>Affordability</h1>
							<p>Ullamco aute aute cillum velit excepteur magna ex do eiusmod non enim irure id fugiat. Dolore nostrud commodo incididunt
								tempor in id esse ex ut esse cupidatat ullamco pariatur sint velit dolore.</p>
						</article>

					</div>

					<div id="tab-5">
						<article>
							<h1>Boosting contributions</h1>
							<p>Ullamco aute aute cillum velit excepteur magna ex do eiusmod non enim irure id fugiat. Dolore nostrud commodo incididunt
								tempor in id esse ex ut esse cupidatat ullamco pariatur sint velit dolore.</p>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>