<div class="cg-table-wrapper">
  <div class="row">
    <div class="col-sm-4 position-relative">
      <ul class="cg-table-list">
        <li class="cg-table-list__item">
          <label for="" class="table-checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li class="cg-table-list__item">
          <p class="cg-table-heading">Covedell education savings account</p>
        </li>
        <li class="cg-table-list__item">
          <img src="../assets/table-unchecked.png" alt="table-unchecked" />
        </li>
        <li class="cg-table-list__item">
          <img src="../assets/table-unchecked.png" alt="table-unchecked" />
        </li>
        <li class="cg-table-list__item">
          <img src="../assets/table-checked.png" alt="table-unchecked" />
        </li>
        <li class="cg-table-list__item">
          <img src="../assets/table-checked.png" alt="table-unchecked" />
        </li>
      </ul>
    </div>
    <div class="col-sm-4 position-relative">
      <ul class="cg-table-list active">
        <li class="cg-table-list__item">
          <label for="" class="table-checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li class="cg-table-list__item">
          <p class="cg-table-heading">College America 529 account</p>
        </li>
        <li class="cg-table-list__item">
          <p class="cg-table-detail">People of all income levels can contribute</p>
        </li>
        <li class="cg-table-list__item">
          <p class="cg-table-detail">Account owner always in control</p>
        </li>
        <li class="cg-table-list__item">
          <p class="cg-table-detail">Beneficiary changes permitted</p>
        </li>
        <li class="cg-table-list__item">
          <p class="cg-table-detail">Unsurpassed income tax breaks</p>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 position-relative">
      <ul class="cg-table-list">
        <li class="cg-table-list__item">
          <label for="" class="table-checkbox">
            <input type="checkbox">
          </label>
        </li>
        <li class="cg-table-list__item">
          <p class="cg-table-heading">UGMA/UTMA</p>
        </li>
        <li class="cg-table-list__item">
          <img src="../assets/table-checked.png" alt="table-unchecked" />
        </li>
        <li class="cg-table-list__item">
          <img src="../assets/table-unchecked.png" alt="table-unchecked" />
        </li>
        <li class="cg-table-list__item">
          <img src="../assets/table-unchecked.png" alt="table-unchecked" />
        </li>
        <li class="cg-table-list__item">
          <img src="../assets/table-unchecked.png" alt="table-unchecked" />
        </li>
      </ul>
    </div>
  </div>
</div>