
.grow-selection{
    p{
        color: #110101;
        font-size: calculateRem(18px, $font-size-html);
    }
    a{
        font-size: calculateRem(20px, $font-size-html);
    }
    img{
        width: 100%;
        height: 384px;
        object-fit: cover;
    }
}
.carousel-slides{
    .slick-dots {
        list-style-type: none;
        display: flex;
        align-items: center;
        left: 38%;
        position: absolute;
        bottom: 37%;
        text-align: center;
        li{
            margin-right: 0.7rem;
            &:focus{
                outline: none;
            }
            button {
                cursor: pointer;
                padding: 0;
                background-color: transparent;
                height: 11px;
                width: 11px;
                text-indent: -99999px;
                border: 1px solid #0a619d;
                border-radius: 50%;
                &:focus{
                    outline: none;
                }
            }
            &.slick-active button{
                background-color: #0a619d;
                &:focus{
                    outline: none;
                }
            }
        }
    }
    button.slick-arrow:focus {
        outline: none;
    }
    button{

        &.slick-prev.slick-arrow{
            background: url('../assets/slider/left-1.png') no-repeat;
            text-indent: -9999px;
            overflow:hidden;
            position: absolute;
            top: 27%;
            left: 35px;
            display: inline-block;
            border: 0;
            cursor: pointer;
            z-index: 99;
        
        }
        &.slick-next.slick-arrow{
            background: url('../assets/slider/right-1.png') no-repeat;
            text-indent: -9999px;
            overflow: hidden;
            position: absolute;
            top: 27%;
            right: 35px;
            display: inline-block;
            border: 0;
            cursor: pointer;
            z-index: 99;
        }
    }
}

button.slick-prev.slick-arrow.slick-disabled {
    opacity: 0.5;
}
button.slick-next.slick-arrow.slick-disabled {
    opacity: 0.5;
}