/* Graph Start */
.graph-heading{
    font-weight: 400;
    color: #110101;
    font-size: calculateRem(30px, $font-size-html);
}
// .custom-select{
//     font-weight: 400;
//     color: #110101;
//     font-size: calculateRem(45px, $font-size-html);
//     background: $white;
//     padding: 1rem !important;
//     border-radius: 0;
// }
// .custom-select-1{
//     color: #110101;
//     font-size: calculateRem(30px, $font-size-html);
//     background: $white;
//     padding: 1rem !important;
//     border-radius: 0;
// }
/* Graph End */

.highcharts-yaxis {
  display: none;
}

.highcharts-legend-item {
  .text {
    font-family: "Avenir Next", sans-serif;
  }
}

// .graph-dropdown-title {
//   font-family: "Avenir Next", sans-serif;
//   font-weight: 700;
//   font-size: 14px;
// }

.fw-light {
  font-family: "Avenir Next", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.college-plan-form {
  .cg-field {
    width: 100%;
    min-width: 214px;
  }

  .cg-field-toggle {
    min-width: 214px;
  }
}

.graph-detail-heading {
  font-family: "Avenir Next", sans-serif;
  font-weight: 700;
  font-size: 24px;
}