/* Graph Start */
.graph-heading{
    font-weight: 400;
    color: #110101;
    font-size: calculateRem(30px, $font-size-html);
}
// .custom-select{
//     font-weight: 400;
//     color: #110101;
//     font-size: calculateRem(45px, $font-size-html);
//     background: $white;
//     padding: 1rem !important;
//     border-radius: 0;
// }
// .custom-select-1{
//     color: #110101;
//     font-size: calculateRem(30px, $font-size-html);
//     background: $white;
//     padding: 1rem !important;
//     border-radius: 0;
// }
/* Graph End */

.highcharts-yaxis {
  //display: none;
  text{
  	display: none;
  }
}

.highcharts-legend-item {
  .text {
    font-family: "Avenir Next", sans-serif;
  }
}

.highcharts-tooltip span {
    width:140px;
    overflow:auto;
    white-space:normal !important;
}

.highcharts-markers.highcharts-series-0{
	display: none;
}