//Tab Content Stylings

// common elements

.fnt-md{
  font-size: calculateRem(16px, $font-size-html);
}

.fnt-lg{
    font-size: calculateRem(18px, $font-size-html);
}

.fnt-bold{
    font-weight: $font-weight-bold;
}


.tab-content-heading {
  font-size: 45px;
  font-weight: 700;
  color: #110101;
  letter-spacing: -0.45px;
}

.tab-content-subheading {
  color: #666666;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.tab-content-desc {
  color: #666666;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

